h1 {
  text-align: center;
  margin: 20px;
}
.btn {
  margin: 5px;
}

article {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 20px auto;
}
.reverse, .reverse > * {
  transform: rotate(180deg);
}

table {
  margin: 200px auto;
}

article .row {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 400px;
  margin-bottom: 20px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 5px;
}

.prof {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}

.card {
  width: 180px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  display: block;
  margin: 15px auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

footer > .container > div {
  flex-wrap: nowrap;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: right;
}
