
.container {
  width: fit-content;
  margin-left: 0;
}

.flex-container .container {
  flex: 0 0 auto;
}

.flex-container .table {
  flex: 1 1 auto;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: flex-start;
}

.nav-link {
  margin: 0 auto;
}

