/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #222; /* Fondo oscuro ligeramente más oscuro */
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444; /* Fondo de formulario más oscuro */
    border: 1px solid #555; /* Borde más oscuro */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white; /* Texto blanco */
}

select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #777; /* Borde más oscuro */
    border-radius: 5px;
    background-color: #444; /* Fondo de entrada más oscuro */
    color: white; /* Texto blanco */
}

select {
    background-color: #333; /* Fondo de selección más oscuro */
}

input[type="submit"] {
    background-color: #222; /* Fondo de botón más oscuro */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #444; /* Fondo aún más oscuro al pasar el ratón */
}
