<header>
  <nav class="navbar">
    <div class="nav-left">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <ul class="nav-links">
        <li><a href="/centros">Centros</a></li>
        <li><a href="/instalaciones">Instalaciones</a></li>
        <li><a href="/actividades">Actividades</a></li>
        <li *ngIf="isAuthenticated"><a href="/reservas">Reservas</a></li> <!-- Usé *ngIf correctamente -->
        <li *ngIf="isAuthenticated">
          <a href="/inscripciones">Inscripciones</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <!-- Si el usuario está autenticado, mostramos 'Logout' -->
      <a
        *ngIf="isAuthenticated == true"
        href="/logout"
        class="register-btn"
        (click)="logout()"
        >Logout</a
      >
      <a *ngIf="isAuthenticated == true" href="/cuenta" class="register-btn"
        >Mi Cuenta</a
      >

      <!-- Si el usuario no está autenticado, mostramos 'Register' y 'Login' -->
      <a *ngIf="isAuthenticated == false" href="/registro" class="register-btn"
        >Register</a
      >
      <a *ngIf="isAuthenticated == false" href="/login" class="login-btn"
        >Login</a
      >
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
