.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.container {
    max-width: 40%;
  }
table{
    margin-top:30px;
}

.card {
    height: 300px;
}

em.error {
    color: red;
}
.error-borde {
    border: 2px solid red !important;
    background-color: #ffcccc;
    border-radius: 5px;
  }