<div class="inscripciones-container">
  <h2>Inscripciones</h2>

  <div class="inscripciones-grid">
    <div class="inscripciones-card" *ngFor="let inscripcion of inscripciones">
      <h3>{{ inscripcion.nom_solicitante }}</h3>
      <p><strong>Telefono: </strong>{{ inscripcion.telefono }}</p>
      <p><strong>Correo: </strong>{{ inscripcion.correo }}</p>
      <p>
        <strong>Actividad asignada: </strong>{{ inscripcion.actividades_id }}
      </p>
      <p>
        <strong>Fecha inscripcion: </strong>{{ inscripcion.fecha_incripcion }}
      </p>
      <p><strong>Estado: </strong>{{ inscripcion.estado }}</p>
    </div>
  </div>
</div>
