
<div class="reserva-container">
    <h2>Nueva Reserva</h2>
  
    <form #reservaForm="ngForm" method="post" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom_solicitante">Nombre del Solicitante</label>
        <input type="text" id="nom_solicitante" name="nom_solicitante" [(ngModel)]="reserva.nom_solicitante" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" id="telefono" name="telefono" [(ngModel)]="reserva.telefono" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="correo">Correo Electrónico</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="reserva.correo" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="instalaciones_id">Instalación</label>
        <select id="instalaciones_id" name="instalaciones_id" [(ngModel)]="reserva.instalaciones_id" required class="form-control">
          <option *ngFor="let instalacion of instalaciones" [value]="instalacion.id">
            {{ instalacion.nombre }} - {{ getCentrosById(instalacion.centcivicos_id) }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="fechahora_inicio">Fecha y Hora de Inicio</label>
        <input type="datetime-local" id="fechahora_inicio" name="fechahora_inicio" [(ngModel)]="reserva.fechahora_inicio" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="fechahora_final">Fecha y Hora Final</label>
        <input type="datetime-local" id="fechahora_final" name="fechahora_final" [(ngModel)]="reserva.fechahora_final" required class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" name="estado" [(ngModel)]="reserva.estado" required class="form-control">
          <option value="pendiente">Pendiente</option>
          <option value="aprobado">Aprobado</option>
          <option value="rechazado">Rechazado</option>
        </select>
      </div>

      <div class="form-group">
        <input
          type="hidden"
          id="user_id"
          name="user_id"
          [(ngModel)]="reserva.usuario_id"
          required
          class="form-control"
          value="{{ usuario_id }}"
        />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="reservaForm.invalid">Registrar Reserva</button>
    </form>
  </div>
  